.address {
  min-height: 400px;
  background-color: $color-light;

  @media (min-width: $tablet-width) {
    min-height: 600px;

    &--dark {
      background-color: $color-basic;
    }

    @media (min-width: $desktop-width) {
      min-height: 400px;
      display: grid;
      grid-template-columns: 1fr 1220px 1fr;
      grid-template-rows: 1;
      background-color: $color-light;
    }
  }

  .address__description {
    width: 320px;
    font-style: normal;
    background-color: $color-light;
    display: flex;
    justify-content: space-between;
    padding: 26px 20px;

    @media (min-width: $tablet-width) {
      width: 768px;
      padding: 60px 70px;
    }

    @media (min-width: $desktop-width) {
      width: 565px;
      place-self: center start;
      grid-column: 2/3;
      order: 2;
      padding: 60px 80px;
    }

    // &--dark {
    //   background-color: $color-basic;

    //   @media (min-width: $desktop-width) {
    //     background-color: $color-light;
    //   }
  }
}

.address__title {
  margin: 0;
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-text-accent-2;
  width: 50%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.address__text {
  margin: 0;
  line-height: 1.25;
  width: 50%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: end;
  }
}

.address__street {
  margin: 0;
}

.address__city {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 17.5px;
  }
}

.address__location {
  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}
