.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
    padding: 0 38px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 234px 104px;
  }
}

.form__input {
  font-family: inherit;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-text-base;
  padding: 13px;
  border: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.form__button {
  font-size: 20px;
  line-height: 1.3;
  padding-block: 15px;
  min-width: 280px;
}
