.instruction{}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 37px;
  color: #000000;
}

.instruction__list {
  list-style-type: none;
}

.instruction__item{}
