.location {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;

  position: relative;
}

.location iframe {
  grid-column: 1/-1;
  grid-row: 1/-1;
  border: none;
  display: block;
  width: 100vw;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location__image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: block;
}
