.sub-card{}

.sub-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.sub-card__description{}

.sub-card__parameter{}

.sub-card__value {
  line-height: 14px;
}
